/* ======================
  White Box Styles
  ====================== */
  .white-box {
    /* Display & Box Model */
    position: relative;
    min-height: 3vh;
    padding: 1vh;
    padding-bottom: 0%;
    border-radius: 1vh;

    /* Other */
    background-color: transparent;
    color: black;
    align-items: center;
}

/* Input field styling */
.white-box input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #cccccc00;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  align-self: center;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.white-box input:focus {
  outline: none;

}

/* Suggestions list styling */
.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  z-index: 1;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover,
.suggestions-list li.active {
  background-color: #f0f0f0;
}

/* Ingredient list styling */
.ingredient-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 1vh 0 1vh;
  padding-top: 5%;
  gap: 8px;
}
/* ingredient "chip" */
.ingredient-item {
  background-color: #FFFFF7;
  padding: 5px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
/* X Button inside each ingredient chip to remove it */
.ingredient-item button {
  margin-left: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

