/* ======================
  Recipe Box Styles
  ====================== */
  .recipe-box {
    /* Positioning */
    position: relative;

    /* Display & Box Model */
    width: 72vw;
    height: 82vh;
    padding: 1vh;
    margin-left: 4vh;
    border: 2px solid #85A573;
    border-radius: 1vh;
    box-sizing: border-box;

    /* Other */
    background-color: #ffffff;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}