/* ======================
  Container Styles
  ====================== */
  .container {
    /* Positioning */
    position: relative;

    /* Display & Box Model */
    display: flex;
    align-items: center;
    padding: 2vh;
}

/* ======================
  Logo Styles
  ====================== */
.logo {
    /* Display & Box Model */
    height: 10vh;
    width: auto;
}

/* ======================
  Language Box Styles
  (TTS icon and translation icons)
  ====================== */
.languageBox {
    /* Display & Box Model */
    height: 6vh;
    width: auto;
    margin-left: 1vw;
    padding-right: 2vw;
}

/* ======================
  Spacer Styles
  (Used to push elements apart in flex container)
  ====================== */
.spacer {
    /* Display & Box Model */
    flex-grow: 1;
}

/* ======================
  Header Styles
  ====================== */
.header {
    /* Positioning */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    /* Other */
    color: #85a573;
}

/* ======================
  Title Styles
  ====================== */
.title {
    /* Display & Box Model */
    margin: 0;

    /* Other */
    font-size: 4vw;
    font-weight: normal;
}

/* ======================
  Responsive Styles for Screens Smaller Than 768px
  ====================== */
@media (max-width: 768px) {
  .container {
    /* Display & Box Model */
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    /* Display & Box Model */
    margin-bottom: 2vh;
  }

  .header {
    /* Positioning */
    position: static;
    transform: none;

    /* Display & Box Model */
    text-align: center;
    width: 100%;
  }

  .title {
    /* Other */
    font-size: 8vw;
  }
}