/* ======================
  Container Styles
  ====================== */
  .container {
    /* Positioning */
    position: relative;

    /* Display & Box Model */
    display: flex;
    align-items: center;
    padding: 2vh;
}

/* ======================
  Logo Styles
  ====================== */
.logo {
    /* Display & Box Model */
    height: 10vh;
    width: auto;
}

/* ======================
  Spacer Styles
  (Used to push elements apart in flex container)
  ====================== */
.spacer {
    /* Display & Box Model */
    flex-grow: 1;
}

/* ======================
  Responsive Styles for Screens Smaller Than 768px
  ====================== */
@media (max-width: 768px) {
  .container {
    /* Display & Box Model */
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    /* Display & Box Model */
    margin-bottom: 2vh;
  }

  .header {
    /* Positioning */
    position: static;
    transform: none;

    /* Display & Box Model */
    text-align: center;
    width: 100%;
  }

  .title {
    /* Other */
    font-size: 8vw;
  }
}