/* ======================
  Green Box Styles
  ====================== */
  .green-box {
    /* Display & Box Model */
    width: 23vw;
    height: 80vh;
    padding: 1vh;
    margin-left: 4vh;
    border-radius: 1vh;

    /* Other */
    background-color: #90d184;
    color: black;
}

/* ======================
  White Box Styles
  ====================== */
  .white-box {
    /* Display & Box Model */
    width: 21vw;
    height: 6vh;
    padding: 1vh;
    margin: 1vh;
    border-radius: 1vh;

    /* Other */
    background-color: #ffffff;
    color: black;
}