.recipe-box {
    background-color: #ffffff;
    color: black;
    padding: 1vh; 
    border-radius: 1vh; 
    width: 72vw; 
    height: 82vh; 
    margin-left: 4vh; 
    border: 2px solid #85A573;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.filter {
    height: 6vh;
    margin: 1.5vh;
}

.scrollbox {
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    width: calc(100% - 2vw); /* Adjust width to fit within the recipe box */
    height: calc(100% - 10vh); /* Adjust height to fit within the recipe box */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    display: flex; /* Use Flexbox */
    gap: 1vw; /* Add space between the two boxes */
}

/* Styles for the boxes inside the scrollbox */
.scrollbox .box {
    flex: 1; /* Each box will take equal space */
    background-color: #f0f0f0; /* Light gray background */
    border: 1px solid #ccc; /* Add a border */
    height: 20vh;
    margin: 0.5vw;
    border-radius: 1vh;
}

.scrollbox .box .title {
    background-color: #EB5555;
    border: 1px solid #ccc; /* Add a border */
    padding: 1vh; /* Add some padding */
    height: 5vh;
    border-radius: 1vh;
}