/* ======================
  Recipe Box Styles
  ====================== */
  .recipe-box {
    /* Positioning */
    position: relative;

    /* Display & Box Model */
    width: 72vw;
    height: 82vh;
    padding: 1vh;
    margin-left: 4vh;
    border: 2px solid #85A573;
    border-radius: 1vh;
    box-sizing: border-box;

    /* Other */
    background-color: #ffffff;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* ======================
  Filter Styles
  ====================== */
.filter {
    /* Display & Box Model */
    height: 6vh;
    margin: 1.5vh;
}

/* ======================
  Scrollbox Styles
  ====================== */
.scrollbox {
    /* Positioning */
    position: relative;

    /* Display & Box Model */
    width: calc(100% - 2vw);
    height: calc(100% - 10vh);
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    gap: 1vw;

    /* Other */
    background-color: transparent;
}

/* ======================
  Box Styles (Inside Scrollbox)
  ====================== */
.scrollbox .box {
    /* Display & Box Model */
    flex: 1;
    height: 20vh;
    margin: 0.5vw;
    border: 1px solid #ccc;
    border-radius: 1vh;

    /* Other */
    background-color: #f0f0f0;
}

/* ======================
  Title Styles (Inside Box)
  ====================== */
.scrollbox .box .title {
    /* Display & Box Model */
    height: 5vh;
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 1vh;

    /* Other */
    background-color: #EB5555;
}